extends layout

block content
  div
    h1 Make a Deck!
    p Name the deck, then create one card at a time, then create the deck
    p Note: I haven't set up the front end to reflect the deck's state in the DOM. For now, every time you add/change the name or add a card, the deck object is logged in the developer console.

  h1 Deck Builder:
  form#nameForm
    div
      label(for='deckName') Deck Name:
      input#nameInput(type='text' placeholder='deck name' name='deckName')
    button Name the Deck!
  form#cardForm
    div
      label(for='cardFront') Card Front:
      input#cardFront(type='text' placeholder='front of card' name='cardFront')
    div
      label(for='cardBack') Card Back:
      input#cardBack(type='text' placeholder='back of card' name='cardBack')
    button Add the Card!
  form#deckForm
    div
      button Save the Deck
    
  script
    include ../public/scripts/deckBuilder.js
