extends layout

block content
  div
    h1 Make a Deck!
    p Name the deck, then create one card at a time, then create the deck

  h1 Deck Builder:
    div
      label(for='deckName') Deck Name:
      input(type='text' placeholder='deck name' name='deckName')
    button Name the Deck!
    div
      label(for='card1Front') Card Front:
      input(type='text' placeholder='front of card' name='cardFront')
    div
      label(for='card1Back') Card Back:
      input(type='text' placeholder='back of card' name='cardBack')
    button Add the Card!
    div
      button Save the Deck
    
  script
    include ../public/scripts/deckBuilder.js
