extends layout

block content
  div#deckContainer
    h1 #{deckName}
    
    
  script(type='text/javascript').
    var userDeck = !{JSON.stringify(userDeck)}
  script
    include ../public/scripts/cardViewer.js
