extends layout

block content
  div
    h1 FlashCard App
    p Register, build and view decks of cards. The front end isn't much right now as I'm mostly using this as a learning opportunity for some backend tools.
    a(href='/register') Create an account!
