extends layout

block content
  .main.container.text-xs-center
    h1.display-3 Chedda &amp; Boys
    p.lead Choose from our large collection of Cheddaboys!
    a.btn.btn-info-outline.btn-lg(href='/register') Become an aspiring Cheddaboy
