extends layout

block content
  div
    h1 Log In To Your Account!
    p Enter Your Credentials Below.
    
  h1 Registration Form:
  form(method='POST' action='/login')
    div
      label(for='email') Email:
      input(type='email' placeholder='cheddaboy@chedda.boys' name='email')
    div
      label(for='password') Password:
      input(type='password' placeholder='Don\'t mess up' name='password')
    button(href='/register') Log Me On!
