nav
  button(type='button', data-toggle='collapse', data-target='#navbar')
  div#navbar
    div
      a(href='/') Home
      div
        a(href='/register') Sign Up
        a(href='/about') About
        a(href='/contact') Contact
        a(href='#') My Profile
        a(href='#') Login
