nav
  div#navbar
    div
      a(href='/') | Home |
      div
        a(href='/register') | Sign Up |
        a(href='/about')  About |
        a(href='/contact')  Contact |
        a(href='/profile')  My Profile |
        a(href='/login')  Login |
