nav
  button(type='button', data-toggle='collapse', data-target='#navbar')
  div#navbar
    div
      a(href='#') Home
      div
        a(href='#') Sign Up
        a(href='#') About
        a(href='#') Contact
        a(href='#') My Profile
        a(href='#') Login
