extends layout

block content
  div
    h1 Sign Up Today!
    p Fill out a form!

  div.w-25
    form(method='POST' action='/register')
      div.input-group.mb-3
        input(type='text' placeholder='Full Name' name='name').form-control
      div.input-group.mb-3
        input(type='email' placeholder='Email Address' name='email').form-control
      div.input-group.mb-3
        input(type='password' placeholder='Password' name='password').form-control
      div.input-group.mb-3
        input(type='password' placeholder='Confirm Password' name='passwordMatch').form-control
      button(href='/register').btn.btn-primary Become a Member!
