extends layout

block content
  div#listContainer
    h1 Here's a list of your decks.
    p Pick a deck, then view it!
    
  script(type='text/javascript').
    var userDecks = !{JSON.stringify(userDecks)}
  script
    include ../public/scripts/deckViewer.js
